.varios{
    display: none;
}
#calendar{
    margin-top: 50px;
}
#event_min{
    margin-top: 10px;
    margin-bottom: 10px;
}
#btnGuardar{
    background-color: #5daadd !important;
    color: white !important;
    border: none !important;
}
#h5{
    width: 100%;
    display: flex;
    justify-content: center;
}
.col-12{
    margin-top: 10px !important;
}

